# Plugin version 1.7.4

sendmsgyourself: false
# This item is needed to be able to send a message to yourself
# Accepts only values 'true' and 'false'

msgsound: 'false'
# By default, the sound is turned off 'false', but you can change it
# It is necessary to indicate the name of the sound in uppercase and with underscores
# Example - msgsound: 'ENTITY_PLAYER_LEVELUP'
# All sounds you can find here - https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/Sound.html
# Unfortunately not all of these sounds can be reproduced correctly
# Therefore, if the sound doesn't work and gives an error, then you should change the sound

volumesound: 50
# By default, the volume of notification sounds is set to '50', but it can be changed
# The volume value must be specified in the range from '0' to '100'

privatechat_start_char: '?'
# Start character for sending messages to private chat

messages:
  error: '&#ff5555Error'
  incorrectcommand: '&#ff5555The command is specified incorrectly'

  configreloadsuccessfully: '&#55ff55The plugin config was successfully reloaded'

  notmsgyouself: '&#ffff55You cannot send message yourself'
  playermissing: '&#ff5555This player is not on the server'
  msgsendoffline: '&#ffff55Send this player an offline message?'

  clickmsgsendreply: 'Click to send reply message'
  nolastrecipient: '&#ffff55You do not have the latest recipient'

  clickmsgsendoffline: 'Click to send offline message'
  msgsendofflinesuccessfully: '&#55ff55You have successfully sent an offline message'

  acceptsend: '<color:#ffff55>Accept</color> <b><color:#55ffff>[✔]</color></b>'
  msgsenderpattern: '<b><color:#55ffff>[</color></b><color:#ffff55>%sender%</color> <b><color:#55ffff>-></color></b> <color:#ffff55>%receiver%</color><b><color:#55ffff>]</color></b><color:#ffff55>%message%</color>'
  msgreceiverpattern: '<b><color:#55ffff>[</color></b><color:#ffff55>%sender%</color> <b><color:#55ffff>-></color></b> <color:#ffff55>%receiver%</color><b><color:#55ffff>]</color></b><color:#ffff55>%message%</color>'
  msgofflinepattern: '<b><color:#55ffff>[</color></b><color:#ffff55>%sender%</color> <b><color:#55ffff>-></color></b> <color:#ffff55>%receiver%</color><b><color:#55ffff>]</color></b><color:#ffff55>%message%</color>'

  soundmissing: '&#ff5555Invalid sound value'
  soundsuccess: '&#55ff55The sound has been successfully changed'

  volumemissing: '&#ff5555Invalid volume value'
  volumesuccess: '&#55ff55The volume has been successfully changed'

  blmissing: '&#ff5555Invalid player value'
  blyourself: '&#ff5555You cannot add yourself to the blacklist'
  blsuccessblock: '&#55ff55The player was successfully blocked'
  blalreadyblock: '&#ff5555This player is already blocked'
  blnotblock: '&#ff5555This player is not on the blacklist'
  blsuccessunblock: '&#55ff55The player has been successfully unblocked'

  youinbl: '&#ff5555You cannot send messages to this player'
  youbl: '&#ffff55You have blocked this player'

  emptybl: '&#ffff55Your blacklist is empty'
  playersbl: '&#55ffffPlayers from your blacklist: §r&#ffff55%blacklist%'

  haveunreadmsg: '&#55ffffYou have unread messages:'

  privatechat:
    message_template: '<b><color:#55ffff>[</color></b><color:#ffff55>%group%</color><b><color:#55ffff>]</color></b> <color:#ffff55>%player%</color><b><color:#55ffff>:</color></b> %message%'
    you_not_owner: '&#ffff55You are not the owner of the private chat'
    you_not_in_private_chat: '&#ffff55You are not in a private chat'
    you_already_in_private_chat: '&#ffff55You are already in a private chat'
    you_can_not_invite_yourself: '&#ffff55You can not invite yourself'
    you_can_not_kick_yourself: '&#ffff55You can not kick yourself out'
    create_successfully: '<color:#55ffff>Private chat</color> <b><color:#ffff55>%group%</color></b> <color:#55ffff>was successfully created</color>'
    chat_info: 'Show chat information'
    delete_successfully: '<color:#55ffff>Private chat</color> <b><color:#ffff55>%group%</color></b> <color:#55ffff>was deleted</color>'
    info:
      template: '<b><color:#55ffff>⏴-----</color><color:#ffff55>%group%</color><color:#55ffff>-----⏵</color></b>
                <br><color:#aaaaaa>Members:</color> %count_members% <color:#aaaaaa>owned by</color> %owner%
                <br><color:#ff5555>%leave_text%</color>   <color:#55ff55>%invite_text%</color>
                <br><b><color:#55ffff>⏴---------------⏵</color></b>'
      leave_text: '← Leave'
      leave_hover_text: 'Leave private chat'
      invite_text: '✉ Invite'
      invite_hover_text: 'Invite a player'
    leave_successfully: '<color:#55ffff>You have successfully left the</color> <b><color:#ffff55>%group%</color></b> <color:#55ffff>group</color>'
    leave_notification: '<b><color:#ffff55>%player%</color></b> <color:#55ffff>left the private chat</color>'
    kick_successfully: '<color:#55ffff>You have successfully kicked out</color> <b><color:#ffff55>%player%</color></b>'
    kick_notification: '<color:#55ffff>You have been kicked from</color> <b><color:#ffff55>%group%</color></b> <color:#55ffff>private chat</color>'
    kick_failed: '<color:#55ffff>Failed to kick out</color> <b><color:#ffff55>%player%</color></b>'
    invite_successfully: '<color:#55ffff>Invitation to</color> <b><color:#ffff55>%player%</color></b> <color:#55ffff>successfully sent</color>'
    invite:
      template: '<b><color:#ffff55>%player%</color></b> <color:#55ffff>invited you to a private chat</color> <b><color:#ffff55>%group%</color></b>
                <br><color:#55ff55>%accept_text%</color>'
      accept_text: '→ Join to private chat'
      accept_hover_text: 'Accept invitation'
    join_successfully: '<color:#55ffff>You have successfully joined the</color> <b><color:#ffff55>%group%</color></b> <color:#55ffff>private chat</color>'
    join_notification: '<b><color:#ffff55>%player%</color></b> <color:#55ffff>joined the private chat</color>'
    join_failed: '<color:#ffff55>Failed to join private chat</color>'
    usage:
      default: '<color:#ffff55>Usage: /privatechat <action> <arg>(if required)</color>'
      create: '<color:#ffff55>Usage: /privatechat create <group name></color>'
      delete: '<color:#ffff55>Usage: /privatechat delete</color>'
      info: '<color:#ffff55>Usage: /privatechat info</color>'
      leave: '<color:#ffff55>Usage: /privatechat leave</color>'
      kick: '<color:#ffff55>Usage: /privatechat kick <player></color>'
      invite: '<color:#ffff55>Usage: /privatechat invite <player></color>'
      join: '<color:#ffff55>Usage: /privatechat join <group ID></color>'

  # In order to change the color of the message, you need to specify the '&' icon, followed by the color code in HEX format with '#' at the beginning
  # You can also change the color using standard Minecraft colors by specifying '§' at the beginning
  # The '§r' icon is used to reset the color and the '§l' icon is used to make the font bold
  # All codes you can find here - https://minecraft.fandom.com/wiki/Formatting_codes
  # Variables are indicated between '%' signs (I don't recommend changing them)

  # Also, many messages use the MiniMessage format
  # Here you can create a message template - https://webui.advntr.dev/

helpmessages:
  consolehelplist: '[SimpleMsg] ⏴-------SimpleMsgPlugin-------⏵
                    
                    [SimpleMsg] Command: msghelp
                    
                    [SimpleMsg] Description: This command allows you to display all possible plugin commands
                    
                    [SimpleMsg] Usage: /<command>
                    
                    [SimpleMsg]
                    
                    [SimpleMsg] Command: msgrc
                    
                    [SimpleMsg] Description: This command allows you to reload the plugin config
                    
                    [SimpleMsg] Usage: /<command>
                    
                    [SimpleMsg]
                    
                    [SimpleMsg] Command: msg
                    
                    [SimpleMsg] Description: This command allows you to send private messages to the player
                    
                    [SimpleMsg] Usage: /<command> <player> <message>
                    
                    [SimpleMsg]
                    
                    [SimpleMsg] Command: reply
                    
                    [SimpleMsg] Description: This command allows you to send a private message to the last player who wrote to you
                    
                    [SimpleMsg] Usage: /<command> <message>
                    
                    [SimpleMsg]
                    
                    [SimpleMsg] Command: acceptsend
                    
                    [SimpleMsg] Description: This command allows you to accept sending an offline message
                    
                    [SimpleMsg] Usage: /<command>
                    
                    [SimpleMsg]
                    
                    [SimpleMsg] Command: csound
                    
                    [SimpleMsg] Description: This command allows you to change the notification sound
                    
                    [SimpleMsg] Usage: /<command> <sound>
                    
                    [SimpleMsg]
                    
                    [SimpleMsg] Command: cvolume
                    
                    [SimpleMsg] Description: This command allows you to change the notification volume
                    
                    [SimpleMsg] Usage: /<command> <volume>
                    
                    [SimpleMsg]
                    
                    [SimpleMsg] Command: addbl
                    
                    [SimpleMsg] Description: This command allows you to add players to the blacklist
                    
                    [SimpleMsg] Usage: /<command> <player>
                    
                    [SimpleMsg]
                    
                    [SimpleMsg] Command: removebl
                    
                    [SimpleMsg] Description: This command allows you to remove players from the blacklist
                    
                    [SimpleMsg] Usage: /<command> <player>
                    
                    [SimpleMsg]
                    
                    [SimpleMsg] Command: showbl
                    
                    [SimpleMsg] Description: This command allows you to display your blacklist
                    
                    [SimpleMsg] Usage: /<command>
                    
                    [SimpleMsg]
                    
                    [SimpleMsg] Command: privatechat
                    
                    [SimpleMsg] Description: This command allows you to interact with private chats
                    
                    [SimpleMsg] Usage: /<command> <action> <arg>(if required)
                    
                    [SimpleMsg] ⏴----------------------------⏵'
  playerhelplist: '§b§l⏴-------§r§e§lSimpleMsgPlugin§r§b§l-------⏵§r
  
                    §bCommand:§r §emsghelp§r
                    
                    §bDescription:§r §eThis command allows you to display all possible plugin commands§r
                    
                    §bUsage:§r §e/<command>§r
                    
                    
                    §bCommand:§r §emsgrc§r
                    
                    §bDescription:§r §eThis command allows you to reload the plugin config§r
                    
                    §bUsage:§r §e/<command>§r
                    
                    
                    §bCommand:§r §emsg§r
                    
                    §bDescription:§r §eThis command allows you to send private messages to the player§r
                    
                    §bUsage:§r §e/<command> <player> <message>§r
                    
                    
                    §bCommand:§r §ereply§r
                    
                    §bDescription:§r §eThis command allows you to send a private message to the last player who wrote to you§r
                    
                    §bUsage:§r §e/<command> <message>§r
                    
                    
                    §bCommand:§r §eacceptsend§r
                    
                    §bDescription:§r §eThis command allows you to accept sending an offline message§r
                    
                    §bUsage:§r §e/<command>§r
                    
                    
                    §bCommand:§r §ecsound§r
                    
                    §bDescription:§r §eThis command allows you to change the notification sound§r
                    
                    §bUsage:§r §e/<command> <sound>§r
                    
                    
                    §bCommand:§r §ecvolume§r
                    
                    §bDescription:§r §eThis command allows you to change the notification volume§r
                    
                    §bUsage:§r §e/<command> <volume>§r
                    
                    
                    §bCommand:§r §eaddbl§r
                    
                    §bDescription:§r §eThis command allows you to add players to the blacklist§r
                    
                    §bUsage:§r §e/<command> <player>§r
                    
                    
                    §bCommand:§r §eremovebl§r
                    
                    §bDescription:§r §eThis command allows you to remove players from the blacklist§r
                    
                    §bUsage:§r §e/<command> <player>§r
                    
                    
                    §bCommand:§r §eshowbl§r
                    
                    §bDescription:§r §eThis command allows you to display your blacklist§r
                    
                    §bUsage:§r §e/<command>§r
                    
                    
                    §bCommand:§r §eprivatechatl§r
                    
                    §bDescription:§r §eThis command allows you to interact with private chats§r
                    
                    §bUsage:§r §e/<command> <action> <arg>(if required)§r
                    
                    §b§l⏴----------------------------⏵§r'
